ul
	display: flex
	flex-flow row wrap
	list-style: none

li
	line-height: 40px
	width: 15%
	min-width: 120px
	padding: 10px
	border: 1px solid #000;


i:before
	content: ''
	height: 20px
	width: 20px
	background-size: contain
	background-position: center
	background-repeat: no-repeat
	display: inline-block
	vertical-align: middle
	margin-right: 10px

.approve:before
	background-image: svg-load('../../svg/approve.svg')
.bull:before
	background-image: svg-load('../../svg/bull.svg')
.call:before
	background-image: svg-load('../../svg/call.svg')
.candelas:before
	background-image: svg-load('../../svg/candelas.svg')
.change-expiry:before
	background-image: svg-load('../../svg/change-expiry.svg')
.chart:before
	background-image: svg-load('../../svg/chart.svg')
.clock:before
	background-image: svg-load('../../svg/clock.svg')
.commodity:before
	background-image: svg-load('../../svg/commodity.svg')
.currency:before
	background-image: svg-load('../../svg/currency.svg')
.decline:before
	background-image: svg-load('../../svg/decline.svg')
.deposit:before
	background-image: svg-load('../../svg/deposit.svg')
.expiry:before
	background-image: svg-load('../../svg/expiry.svg')
.graph:before
	background-image: svg-load('../../svg/graph.svg')
.history:before
	background-image: svg-load('../../svg/history.svg')
.hold:before
	background-image: svg-load('../../svg/hold.svg')
.in:before
	background-image: svg-load('../../svg/in.svg')
.lock:before
	background-image: svg-load('../../svg/lock.svg')
.logo:before
	background-image: svg-load('../../svg/logo.svg')
.magnify:before
	background-image: svg-load('../../svg/magnify.svg')
.ohlc:before
	background-image: svg-load('../../svg/ohlc.svg')
.options:before
	background-image: svg-load('../../svg/options.svg')
.out:before
	background-image: svg-load('../../svg/out.svg')
.progress-btn:before
	background-image: svg-load('../../svg/progress-btn.svg')
.put:before
	background-image: svg-load('../../svg/put.svg')
.reload:before
	background-image: svg-load('../../svg/reload.svg')
.reload_bg:before
	background-image: svg-load('../../svg/reload_bg.svg')
.risk-free:before
	background-image: svg-load('../../svg/risk-free.svg')
.sell:before
	background-image: svg-load('../../svg/sell.svg')
.shop-bag:before
	background-image: svg-load('../../svg/shop-bag.svg')
.simple-user:before
	background-image: svg-load('../../svg/simple-user.svg')
.ticks:before
	background-image: svg-load('../../svg/ticks.svg')
.timer:before
	background-image: svg-load('../../svg/timer.svg')
.tools:before
	background-image: svg-load('../../svg/tools.svg')
.user:before
	background-image: svg-load('../../svg/user.svg')